UWPhospital/UWPhospital/UWPhospital/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HospitalService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HospitalService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDoctorData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DoctorData" nillable="true" type="tns:DoctorData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoctorData" nillable="true" type="tns:ArrayOfDoctorData" />
  <xs:complexType name="DoctorData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstNameValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdValue" type="xs:int" />
      <xs:element minOccurs="0" name="LastNameValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNreValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocNrValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DoctorData" nillable="true" type="tns:DoctorData" />
  <xs:complexType name="ArrayOfPatientData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientData" nillable="true" type="tns:PatientData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientData" nillable="true" type="tns:ArrayOfPatientData" />
  <xs:complexType name="PatientData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstNameValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdValue" type="xs:int" />
      <xs:element minOccurs="0" name="LastNameValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNreValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocNrValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCodeValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientData" nillable="true" type="tns:PatientData" />
  <xs:complexType name="ArrayOfJournalData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JournalData" nillable="true" type="tns:JournalData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJournalData" nillable="true" type="tns:ArrayOfJournalData" />
  <xs:complexType name="JournalData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTimeValue" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DoctorIdValue" type="xs:int" />
      <xs:element minOccurs="0" name="IdValue" type="xs:int" />
      <xs:element minOccurs="0" name="PatientIdValue" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JournalData" nillable="true" type="tns:JournalData" />
  <xs:complexType name="ArrayOfHospitalPostlData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HospitalPostlData" nillable="true" type="tns:HospitalPostlData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHospitalPostlData" nillable="true" type="tns:ArrayOfHospitalPostlData" />
  <xs:complexType name="HospitalPostlData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTimeValue" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DoctorIdValue" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdValue" type="xs:int" />
      <xs:element minOccurs="0" name="JournalIdValue" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PostValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HospitalPostlData" nillable="true" type="tns:HospitalPostlData" />
  <xs:complexType name="ArrayOfDoctorXPatientData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DoctorXPatientData" nillable="true" type="tns:DoctorXPatientData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoctorXPatientData" nillable="true" type="tns:ArrayOfDoctorXPatientData" />
  <xs:complexType name="DoctorXPatientData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DoctorIdValue" type="xs:int" />
      <xs:element minOccurs="0" name="HospitalValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdValue" type="xs:int" />
      <xs:element minOccurs="0" name="PatientIdValue" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DoctorXPatientData" nillable="true" type="tns:DoctorXPatientData" />
  <xs:complexType name="ArrayOfHospitalPostlDataWithPatientName">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HospitalPostlDataWithPatientName" nillable="true" type="tns:HospitalPostlDataWithPatientName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHospitalPostlDataWithPatientName" nillable="true" type="tns:ArrayOfHospitalPostlDataWithPatientName" />
  <xs:complexType name="HospitalPostlDataWithPatientName">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTimeValue" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DoctorIdValue" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdValue" type="xs:int" />
      <xs:element minOccurs="0" name="JournalIdValue" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PostValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="patientFirstNameValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="patientLastNameValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HospitalPostlDataWithPatientName" nillable="true" type="tns:HospitalPostlDataWithPatientName" />
</xs:schema>