UWPhospital/UWPhospital/UWPhospital/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50995/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HospitalService" />
  <xs:element name="GetDoctors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HospitalService" minOccurs="0" name="GetDoctorsResult" nillable="true" type="q1:ArrayOfDoctorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecificDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doctorId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecificDoctorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HospitalService" minOccurs="0" name="GetSpecificDoctorResult" nillable="true" type="q2:DoctorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HospitalService" minOccurs="0" name="GetPatientsResult" nillable="true" type="q3:ArrayOfPatientData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJournals">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJournalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HospitalService" minOccurs="0" name="GetJournalsResult" nillable="true" type="q4:ArrayOfJournalData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHospitalPosts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHospitalPostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HospitalService" minOccurs="0" name="GetHospitalPostsResult" nillable="true" type="q5:ArrayOfHospitalPostlData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorXPatients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorXPatientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HospitalService" minOccurs="0" name="GetDoctorXPatientsResult" nillable="true" type="q6:ArrayOfDoctorXPatientData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HospitalService" minOccurs="0" name="CheckLogInResult" nillable="true" type="q7:DoctorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportNewDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="soc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phonenumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportNewDoctorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportNewDoctorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportNewPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="journalId" type="xs:int" />
        <xs:element minOccurs="0" name="soc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportNewPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportNewPatientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="soc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phonenr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zipcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewPatientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDoctorInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doctorId" type="xs:int" />
        <xs:element minOccurs="0" name="newEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDoctorInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDoctorInformationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateHospitalPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doctorId" type="xs:int" />
        <xs:element minOccurs="0" name="patientId" type="xs:int" />
        <xs:element minOccurs="0" name="post" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateHospitalPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateHospitalPostResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHospitalPostForPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHospitalPostForPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HospitalService" minOccurs="0" name="GetHospitalPostForPatientResult" nillable="true" type="q8:ArrayOfHospitalPostlData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThreeLastHospitalPosts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doctorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThreeLastHospitalPostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HospitalService" minOccurs="0" name="GetThreeLastHospitalPostsResult" nillable="true" type="q9:ArrayOfHospitalPostlDataWithPatientName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>